In [2]:
pip install nltk

Collecting nltk
  Downloading nltk-3.7-py3-none-any.whl (1.5 MB)
Collecting tqdm
  Downloading tqdm-4.64.1-py2.py3-none-any.whl (78 kB)
Collecting regex>=2021.8.3
  Downloading regex-2022.10.31-cp37-cp37m-win_amd64.whl (268 kB)
Collecting joblib
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
Collecting click
  Downloading click-8.1.3-py3-none-any.whl (96 kB)
Requirement already satisfied: colorama; platform_system == "Windows" in c:\users\sg\anaconda3\envs\myr\lib\site-packages (from tqdm->nltk) (0.4.3)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in c:\users\sg\anaconda3\envs\myr\lib\site-packages (from click->nltk) (1.7.0)
Requirement already satisfied: zipp>=0.5 in c:\users\sg\anaconda3\envs\myr\lib\site-packages (from importlib-metadata; python_version < "3.8"->click->nltk) (3.1.0)
Installing collected packages: tqdm, regex, joblib, click, nltk
Successfully installed click-8.1.3 joblib-1.2.0 nltk-3.7 regex-2022.10.31 tqdm-4.64.1
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [28]:
import re
import numpy as np
import sys
import os
import pandas as pd
import string
import nltk

from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.porter import *

In [29]:
import pandas as pd

read_file = pd.read_excel('(usingGoogle)final_query_translated.xlsx', engine='openpyxl')
# read_file.to_csv (r'Dataset_A.csv', index = None, header=True)

In [30]:
read_file

,Unnamed: 0,qid:,qstr,candidates,qstr_lan,qstr_en,Language(memo)
0,0,943,mbsr,"['M30928765', 'M30928764', 'M33155250', 'M3013...",en,mbsr,NaN
1,1,925,gender,"['M32275910', 'NLM101312283', 'M10231258', 'M3...",en,gender,NaN
2,2,407,einsamkeit,"['NLM9707686', 'NLM9215358', 'M27924693', 'M33...",de,lonliness,NaN
3,3,123,midwife,"['M18612453', 'M32361389', 'M33000708', 'M3353...",en,midwife,NaN
4,4,220,bgm,"['M33384475', 'M33392927', 'M33634364', 'M3217...",en,bgm,NaN
...,...,...,...,...,...,...,...
95,95,374,intensivstation,"['M33591384', 'M32431564', 'M32990764', 'M3356...",de,intensive care unit,NaN
96,96,264,rettungsdienst,"['NLM100964607', 'NLM9703000', 'M31801168', 'M...",de,rescue service,NaN
97,97,791,ausbildung,"['M33219415', 'M33640285', 'M32517595', 'M3287...",de,training,NaN
98,98,399,safewards,"['M30675756', 'M33293305', 'M32048899', 'M3269...",en,safewards,NaN
99,99,1172,low AND carb,"['M31098613', 'M29446894', 'M30694317', 'M3060...",en,low AND carb,NaN

In [136]:
df2= pd.read_json("livivo_hq_test_100_candidates.jsonl",lines=True)

In [31]:
df=pd.DataFrame(read_file)
# df['ABSTRACT']=df['ABSTRACT'].fillna("").apply(list)

In [33]:
df

,Unnamed: 0,qid:,qstr,candidates,qstr_lan,qstr_en,Language(memo)
0,0,943,mbsr,"['M30928765', 'M30928764', 'M33155250', 'M3013...",en,mbsr,NaN
1,1,925,gender,"['M32275910', 'NLM101312283', 'M10231258', 'M3...",en,gender,NaN
2,2,407,einsamkeit,"['NLM9707686', 'NLM9215358', 'M27924693', 'M33...",de,lonliness,NaN
3,3,123,midwife,"['M18612453', 'M32361389', 'M33000708', 'M3353...",en,midwife,NaN
4,4,220,bgm,"['M33384475', 'M33392927', 'M33634364', 'M3217...",en,bgm,NaN
...,...,...,...,...,...,...,...
95,95,374,intensivstation,"['M33591384', 'M32431564', 'M32990764', 'M3356...",de,intensive care unit,NaN
96,96,264,rettungsdienst,"['NLM100964607', 'NLM9703000', 'M31801168', 'M...",de,rescue service,NaN
97,97,791,ausbildung,"['M33219415', 'M33640285', 'M32517595', 'M3287...",de,training,NaN
98,98,399,safewards,"['M30675756', 'M33293305', 'M32048899', 'M3269...",en,safewards,NaN
99,99,1172,low AND carb,"['M31098613', 'M29446894', 'M30694317', 'M3060...",en,low AND carb,NaN

In [34]:
def list_to_string(text):
    abc=''.join(text)
   
    return abc

In [35]:
df['Preprocessing'] = df['qstr_en'].apply(list_to_string)

In [36]:
df

,Unnamed: 0,qid:,qstr,candidates,qstr_lan,qstr_en,Language(memo),Preprocessing
0,0,943,mbsr,"['M30928765', 'M30928764', 'M33155250', 'M3013...",en,mbsr,NaN,mbsr
1,1,925,gender,"['M32275910', 'NLM101312283', 'M10231258', 'M3...",en,gender,NaN,gender
2,2,407,einsamkeit,"['NLM9707686', 'NLM9215358', 'M27924693', 'M33...",de,lonliness,NaN,lonliness
3,3,123,midwife,"['M18612453', 'M32361389', 'M33000708', 'M3353...",en,midwife,NaN,midwife
4,4,220,bgm,"['M33384475', 'M33392927', 'M33634364', 'M3217...",en,bgm,NaN,bgm
...,...,...,...,...,...,...,...,...
95,95,374,intensivstation,"['M33591384', 'M32431564', 'M32990764', 'M3356...",de,intensive care unit,NaN,intensive care unit
96,96,264,rettungsdienst,"['NLM100964607', 'NLM9703000', 'M31801168', 'M...",de,rescue service,NaN,rescue service
97,97,791,ausbildung,"['M33219415', 'M33640285', 'M32517595', 'M3287...",de,training,NaN,training
98,98,399,safewards,"['M30675756', 'M33293305', 'M32048899', 'M3269...",en,safewards,NaN,safewards
99,99,1172,low AND carb,"['M31098613', 'M29446894', 'M30694317', 'M3060...",en,low AND carb,NaN,low AND carb

In [37]:
def lower_text(text):
    text=text.lower()
    return text

In [38]:
df['Preprocessing'] = df['Preprocessing'].apply(lower_text)

In [39]:
df

,Unnamed: 0,qid:,qstr,candidates,qstr_lan,qstr_en,Language(memo),Preprocessing
0,0,943,mbsr,"['M30928765', 'M30928764', 'M33155250', 'M3013...",en,mbsr,NaN,mbsr
1,1,925,gender,"['M32275910', 'NLM101312283', 'M10231258', 'M3...",en,gender,NaN,gender
2,2,407,einsamkeit,"['NLM9707686', 'NLM9215358', 'M27924693', 'M33...",de,lonliness,NaN,lonliness
3,3,123,midwife,"['M18612453', 'M32361389', 'M33000708', 'M3353...",en,midwife,NaN,midwife
4,4,220,bgm,"['M33384475', 'M33392927', 'M33634364', 'M3217...",en,bgm,NaN,bgm
...,...,...,...,...,...,...,...,...
95,95,374,intensivstation,"['M33591384', 'M32431564', 'M32990764', 'M3356...",de,intensive care unit,NaN,intensive care unit
96,96,264,rettungsdienst,"['NLM100964607', 'NLM9703000', 'M31801168', 'M...",de,rescue service,NaN,rescue service
97,97,791,ausbildung,"['M33219415', 'M33640285', 'M32517595', 'M3287...",de,training,NaN,training
98,98,399,safewards,"['M30675756', 'M33293305', 'M32048899', 'M3269...",en,safewards,NaN,safewards
99,99,1172,low AND carb,"['M31098613', 'M29446894', 'M30694317', 'M3060...",en,low AND carb,NaN,low and carb

In [40]:
def remove_punctuations(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    return text

In [41]:
df['Preprocessing'] = df['Preprocessing'].apply(remove_punctuations)

In [42]:
df

,Unnamed: 0,qid:,qstr,candidates,qstr_lan,qstr_en,Language(memo),Preprocessing
0,0,943,mbsr,"['M30928765', 'M30928764', 'M33155250', 'M3013...",en,mbsr,NaN,mbsr
1,1,925,gender,"['M32275910', 'NLM101312283', 'M10231258', 'M3...",en,gender,NaN,gender
2,2,407,einsamkeit,"['NLM9707686', 'NLM9215358', 'M27924693', 'M33...",de,lonliness,NaN,lonliness
3,3,123,midwife,"['M18612453', 'M32361389', 'M33000708', 'M3353...",en,midwife,NaN,midwife
4,4,220,bgm,"['M33384475', 'M33392927', 'M33634364', 'M3217...",en,bgm,NaN,bgm
...,...,...,...,...,...,...,...,...
95,95,374,intensivstation,"['M33591384', 'M32431564', 'M32990764', 'M3356...",de,intensive care unit,NaN,intensive care unit
96,96,264,rettungsdienst,"['NLM100964607', 'NLM9703000', 'M31801168', 'M...",de,rescue service,NaN,rescue service
97,97,791,ausbildung,"['M33219415', 'M33640285', 'M32517595', 'M3287...",de,training,NaN,training
98,98,399,safewards,"['M30675756', 'M33293305', 'M32048899', 'M3269...",en,safewards,NaN,safewards
99,99,1172,low AND carb,"['M31098613', 'M29446894', 'M30694317', 'M3060...",en,low AND carb,NaN,low and carb

In [43]:
def remove_AND_OR(text):
    text=text.replace(' and', '  ')
    text=text.replace(' or', '  ')
    return text

In [44]:
df['Preprocessing'] = df['Preprocessing'].apply(remove_AND_OR)

In [45]:
df

,Unnamed: 0,qid:,qstr,candidates,qstr_lan,qstr_en,Language(memo),Preprocessing
0,0,943,mbsr,"['M30928765', 'M30928764', 'M33155250', 'M3013...",en,mbsr,NaN,mbsr
1,1,925,gender,"['M32275910', 'NLM101312283', 'M10231258', 'M3...",en,gender,NaN,gender
2,2,407,einsamkeit,"['NLM9707686', 'NLM9215358', 'M27924693', 'M33...",de,lonliness,NaN,lonliness
3,3,123,midwife,"['M18612453', 'M32361389', 'M33000708', 'M3353...",en,midwife,NaN,midwife
4,4,220,bgm,"['M33384475', 'M33392927', 'M33634364', 'M3217...",en,bgm,NaN,bgm
...,...,...,...,...,...,...,...,...
95,95,374,intensivstation,"['M33591384', 'M32431564', 'M32990764', 'M3356...",de,intensive care unit,NaN,intensive care unit
96,96,264,rettungsdienst,"['NLM100964607', 'NLM9703000', 'M31801168', 'M...",de,rescue service,NaN,rescue service
97,97,791,ausbildung,"['M33219415', 'M33640285', 'M32517595', 'M3287...",de,training,NaN,training
98,98,399,safewards,"['M30675756', 'M33293305', 'M32048899', 'M3269...",en,safewards,NaN,safewards
99,99,1172,low AND carb,"['M31098613', 'M29446894', 'M30694317', 'M3060...",en,low AND carb,NaN,low carb

In [46]:
df.tail(36)

,Unnamed: 0,qid:,qstr,candidates,qstr_lan,qstr_en,Language(memo),Preprocessing
64,64,1132,implementierung,"['M32752963', 'M33086942', 'M29952506', 'M3238...",de,implementation,NaN,implementation
65,65,679,weaning,"['M28499690', 'M9623421', 'M1545330', 'M330872...",en,weaning,NaN,weaning
66,66,1338,interprofessionelle AND zusammenarbeit,"['M30838951', 'M30657412', 'M28011987', 'M2233...",de,interprofessional AND cooperation,NaN,interprofessional cooperation
67,67,836,kommunikation AND in AND der AND pflege,"['M27501658', 'M28246892', 'M21192393', 'M2250...",de,communication AND in AND of AND care,NaN,communication in of care
68,68,1115,patientenzufriedenheit AND mammaplastik,"['M33561191', 'M33589456', 'M17219325', 'M3315...",de,patient satisfaction AND mammoplasty,NaN,patient satisfaction mammoplasty
69,69,1390,visite,"['M33528630', 'M33602455', 'M32120408', 'M3253...",fr,visit,NaN,visit
70,70,774,gesundheitskommunikation,"['NLM101629243', 'NLM100963907', 'M31938838', ...",de,health communication,NaN,health communication
71,71,1092,alzheimer AND demenz,"['M30703832', 'M25957008', 'M28188402', 'M3005...",de,Alzheimer's AND dementia,NaN,alzheimers dementia
72,72,1186,dmp,"['M29508321', 'M33420898', 'M31556035', 'M3257...",en,dmp,NaN,dmp
73,73,817,telemedicine,"['M27875423', 'M26543991', 'M26153012', 'NLM10...",en,telemedicine,NaN,telemedicine
74,74,474,prostatakrebs,"['NLM101147082', 'M31067579', 'M30734839', 'M2...",de,prostate cancer,NaN,prostate cancer
75,75,738,peripherer AND nerv,"['M33201263', 'M31628491', 'M27607069', 'M2403...",de,peripheral AND nerve,NaN,peripheral nerve
76,76,1096,fatique,"['M18902289', 'M10572528', 'NLM101194018', 'M5...",id,fatigue,Indonesian,fatigue
77,77,418,ebola,"['M32441897', 'NLM101700964', 'M25715199', 'M2...",en,ebola,NaN,ebola
78,78,226,pflegemanagement,"['M9470756', 'NLM100895875', 'M23755461', 'M23...",de,care management,NaN,care management
79,79,627,chorea AND huntington,"['M32557468', 'M33257027', 'M32758896', 'M2846...",en,chorea AND huntington,NaN,chorea huntington
80,80,369,ains,"['NLM101085220', 'M32022492', 'M32237571', 'M3...",en,ains,NaN,ains
81,81,1198,therapie-tools,"['M32641851', 'M32491039', 'M33386705', 'M3353...",en,therapie-tools,NaN,therapietools
82,82,1138,stuttering,"['NLM101632993', 'NLM101591150', 'NLM101523426...",en,stuttering,NaN,stuttering
83,83,609,orem,"['M29972549', 'M29238485', 'M30034655', 'M2122...",en,orem,NaN,orem
84,84,1205,bandura,"['M22616370', 'M26608429', 'M21033206', 'NLM90...",en,bandura,NaN,bandura
85,85,1181,clinical AND reasoning,"['M33479963', 'M31972679', 'M31977962', 'M3355...",en,clinical AND reasoning,NaN,clinical reasoning
86,86,1177,vegan*,"['M33630255', 'M32086398', 'M31991425', 'M3202...",en,vegan*,NaN,vegan
87,87,1080,konfliktmanagement,"['M25421136', 'M19382429', 'M21162328', 'M3261...",de,conflict management,NaN,conflict management
88,88,666,labordiagnostik,"['M18677692', 'M32880671', 'M33616701', 'M3099...",eu,laboratory diagnosis,Basque,laboratory diagnosis
89,89,1448,assessment,"['NLM101667150', 'M15632241', 'M33628078', 'M3...",en,assessment,NaN,assessment
90,90,280,die AND schwester AND der AND pfleger,"['M16429819', 'M23802346', 'M19634524', 'M2146...",de,the AND sister AND the AND nurse,NaN,the sister the nurse
91,91,1004,jama,"['M33079160', 'M30874761', 'M31769780', 'M3002...",en,jama,NaN,jama
92,92,508,embryologie,"['NLM9113566', 'NLM8104069', 'NLM7507100', 'NL...",fr,embryology,NaN,embryology
93,93,462,epidemiologie,"['M20306787', 'M31974703', 'M33607670', 'M3282...",ro,epidemiology,Romanian,epidemiology
94,94,1006,advanced AND nursing AND practice,"['M33431636', 'M33342554', 'M31972780', 'M3244...",en,advanced AND nursing AND practice,NaN,advanced nursing practice
95,95,374,intensivstation,"['M33591384', 'M32431564', 'M32990764', 'M3356...",de,intensive care unit,NaN,intensive care unit
96,96,264,rettungsdienst,"['NLM100964607', 'NLM9703000', 'M31801168', 'M...",de,rescue service,NaN,rescue service
97,97,791,ausbildung,"['M33219415', 'M33640285', 'M32517595', 'M3287...",de,training,NaN,training
98,98,399,safewards,"['M30675756', 'M33293305', 'M32048899', 'M3269...",en,safewards,NaN,safewards
99,99,1172,low AND carb,"['M31098613', 'M29446894', 'M30694317', 'M3060...",en,low AND carb,NaN,low carb

In [47]:
def double_space(text):
    for i in range(0, len(text)):
        text= text.replace(' +', ' ')
    return text

In [48]:
df["Preprocessing"] = df['Preprocessing'].apply(double_space)

In [49]:
df

,Unnamed: 0,qid:,qstr,candidates,qstr_lan,qstr_en,Language(memo),Preprocessing
0,0,943,mbsr,"['M30928765', 'M30928764', 'M33155250', 'M3013...",en,mbsr,NaN,mbsr
1,1,925,gender,"['M32275910', 'NLM101312283', 'M10231258', 'M3...",en,gender,NaN,gender
2,2,407,einsamkeit,"['NLM9707686', 'NLM9215358', 'M27924693', 'M33...",de,lonliness,NaN,lonliness
3,3,123,midwife,"['M18612453', 'M32361389', 'M33000708', 'M3353...",en,midwife,NaN,midwife
4,4,220,bgm,"['M33384475', 'M33392927', 'M33634364', 'M3217...",en,bgm,NaN,bgm
...,...,...,...,...,...,...,...,...
95,95,374,intensivstation,"['M33591384', 'M32431564', 'M32990764', 'M3356...",de,intensive care unit,NaN,intensive care unit
96,96,264,rettungsdienst,"['NLM100964607', 'NLM9703000', 'M31801168', 'M...",de,rescue service,NaN,rescue service
97,97,791,ausbildung,"['M33219415', 'M33640285', 'M32517595', 'M3287...",de,training,NaN,training
98,98,399,safewards,"['M30675756', 'M33293305', 'M32048899', 'M3269...",en,safewards,NaN,safewards
99,99,1172,low AND carb,"['M31098613', 'M29446894', 'M30694317', 'M3060...",en,low AND carb,NaN,low carb

In [51]:
df

,Unnamed: 0,qid:,qstr,candidates,qstr_lan,qstr_en,Language(memo),Preprocessing
0,0,943,mbsr,"['M30928765', 'M30928764', 'M33155250', 'M3013...",en,mbsr,NaN,mbsr
1,1,925,gender,"['M32275910', 'NLM101312283', 'M10231258', 'M3...",en,gender,NaN,gender
2,2,407,einsamkeit,"['NLM9707686', 'NLM9215358', 'M27924693', 'M33...",de,lonliness,NaN,lonliness
3,3,123,midwife,"['M18612453', 'M32361389', 'M33000708', 'M3353...",en,midwife,NaN,midwife
4,4,220,bgm,"['M33384475', 'M33392927', 'M33634364', 'M3217...",en,bgm,NaN,bgm
...,...,...,...,...,...,...,...,...
95,95,374,intensivstation,"['M33591384', 'M32431564', 'M32990764', 'M3356...",de,intensive care unit,NaN,intensive care unit
96,96,264,rettungsdienst,"['NLM100964607', 'NLM9703000', 'M31801168', 'M...",de,rescue service,NaN,rescue service
97,97,791,ausbildung,"['M33219415', 'M33640285', 'M32517595', 'M3287...",de,training,NaN,training
98,98,399,safewards,"['M30675756', 'M33293305', 'M32048899', 'M3269...",en,safewards,NaN,safewards
99,99,1172,low AND carb,"['M31098613', 'M29446894', 'M30694317', 'M3060...",en,low AND carb,NaN,low carb

In [52]:
def remove_special(text):
    ls=[]
    for k in text.split("\n"):
        ls.append(re.sub(r"[^a-zA-Z0-9]+", ' ', k))
    text= " ".join(ls)
    return text

In [53]:
df["Preprocessing"] = df['Preprocessing'].apply(remove_special)

In [54]:
df

,Unnamed: 0,qid:,qstr,candidates,qstr_lan,qstr_en,Language(memo),Preprocessing
0,0,943,mbsr,"['M30928765', 'M30928764', 'M33155250', 'M3013...",en,mbsr,NaN,mbsr
1,1,925,gender,"['M32275910', 'NLM101312283', 'M10231258', 'M3...",en,gender,NaN,gender
2,2,407,einsamkeit,"['NLM9707686', 'NLM9215358', 'M27924693', 'M33...",de,lonliness,NaN,lonliness
3,3,123,midwife,"['M18612453', 'M32361389', 'M33000708', 'M3353...",en,midwife,NaN,midwife
4,4,220,bgm,"['M33384475', 'M33392927', 'M33634364', 'M3217...",en,bgm,NaN,bgm
...,...,...,...,...,...,...,...,...
95,95,374,intensivstation,"['M33591384', 'M32431564', 'M32990764', 'M3356...",de,intensive care unit,NaN,intensive care unit
96,96,264,rettungsdienst,"['NLM100964607', 'NLM9703000', 'M31801168', 'M...",de,rescue service,NaN,rescue service
97,97,791,ausbildung,"['M33219415', 'M33640285', 'M32517595', 'M3287...",de,training,NaN,training
98,98,399,safewards,"['M30675756', 'M33293305', 'M32048899', 'M3269...",en,safewards,NaN,safewards
99,99,1172,low AND carb,"['M31098613', 'M29446894', 'M30694317', 'M3060...",en,low AND carb,NaN,low carb

In [55]:

df["Preprocessing"] = df['Preprocessing'].apply(nltk.word_tokenize)

In [56]:
df

,Unnamed: 0,qid:,qstr,candidates,qstr_lan,qstr_en,Language(memo),Preprocessing
0,0,943,mbsr,"['M30928765', 'M30928764', 'M33155250', 'M3013...",en,mbsr,NaN,[mbsr]
1,1,925,gender,"['M32275910', 'NLM101312283', 'M10231258', 'M3...",en,gender,NaN,[gender]
2,2,407,einsamkeit,"['NLM9707686', 'NLM9215358', 'M27924693', 'M33...",de,lonliness,NaN,[lonliness]
3,3,123,midwife,"['M18612453', 'M32361389', 'M33000708', 'M3353...",en,midwife,NaN,[midwife]
4,4,220,bgm,"['M33384475', 'M33392927', 'M33634364', 'M3217...",en,bgm,NaN,[bgm]
...,...,...,...,...,...,...,...,...
95,95,374,intensivstation,"['M33591384', 'M32431564', 'M32990764', 'M3356...",de,intensive care unit,NaN,"[intensive, care, unit]"
96,96,264,rettungsdienst,"['NLM100964607', 'NLM9703000', 'M31801168', 'M...",de,rescue service,NaN,"[rescue, service]"
97,97,791,ausbildung,"['M33219415', 'M33640285', 'M32517595', 'M3287...",de,training,NaN,[training]
98,98,399,safewards,"['M30675756', 'M33293305', 'M32048899', 'M3269...",en,safewards,NaN,[safewards]
99,99,1172,low AND carb,"['M31098613', 'M29446894', 'M30694317', 'M3060...",en,low AND carb,NaN,"[low, carb]"

In [57]:
def Stopwords(text):
    stop_words = stopwords.words('english')
    word_tokens = [t for t in text if not (t in stop_words)]
    return word_tokens

In [58]:
df["Preprocessing"] = df['Preprocessing'].apply(Stopwords)

In [59]:
df

,Unnamed: 0,qid:,qstr,candidates,qstr_lan,qstr_en,Language(memo),Preprocessing
0,0,943,mbsr,"['M30928765', 'M30928764', 'M33155250', 'M3013...",en,mbsr,NaN,[mbsr]
1,1,925,gender,"['M32275910', 'NLM101312283', 'M10231258', 'M3...",en,gender,NaN,[gender]
2,2,407,einsamkeit,"['NLM9707686', 'NLM9215358', 'M27924693', 'M33...",de,lonliness,NaN,[lonliness]
3,3,123,midwife,"['M18612453', 'M32361389', 'M33000708', 'M3353...",en,midwife,NaN,[midwife]
4,4,220,bgm,"['M33384475', 'M33392927', 'M33634364', 'M3217...",en,bgm,NaN,[bgm]
...,...,...,...,...,...,...,...,...
95,95,374,intensivstation,"['M33591384', 'M32431564', 'M32990764', 'M3356...",de,intensive care unit,NaN,"[intensive, care, unit]"
96,96,264,rettungsdienst,"['NLM100964607', 'NLM9703000', 'M31801168', 'M...",de,rescue service,NaN,"[rescue, service]"
97,97,791,ausbildung,"['M33219415', 'M33640285', 'M32517595', 'M3287...",de,training,NaN,[training]
98,98,399,safewards,"['M30675756', 'M33293305', 'M32048899', 'M3269...",en,safewards,NaN,[safewards]
99,99,1172,low AND carb,"['M31098613', 'M29446894', 'M30694317', 'M3060...",en,low AND carb,NaN,"[low, carb]"

In [60]:
def stemming(text):
    ps = PorterStemmer()
    stems=[]
    for i in text:
        stems.append(ps.stem(i))
    return stems

In [61]:
df["Preprocessing"] = df['Preprocessing'].apply(stemming)

In [62]:
df

,Unnamed: 0,qid:,qstr,candidates,qstr_lan,qstr_en,Language(memo),Preprocessing
0,0,943,mbsr,"['M30928765', 'M30928764', 'M33155250', 'M3013...",en,mbsr,NaN,[mbsr]
1,1,925,gender,"['M32275910', 'NLM101312283', 'M10231258', 'M3...",en,gender,NaN,[gender]
2,2,407,einsamkeit,"['NLM9707686', 'NLM9215358', 'M27924693', 'M33...",de,lonliness,NaN,[lonli]
3,3,123,midwife,"['M18612453', 'M32361389', 'M33000708', 'M3353...",en,midwife,NaN,[midwif]
4,4,220,bgm,"['M33384475', 'M33392927', 'M33634364', 'M3217...",en,bgm,NaN,[bgm]
...,...,...,...,...,...,...,...,...
95,95,374,intensivstation,"['M33591384', 'M32431564', 'M32990764', 'M3356...",de,intensive care unit,NaN,"[intens, care, unit]"
96,96,264,rettungsdienst,"['NLM100964607', 'NLM9703000', 'M31801168', 'M...",de,rescue service,NaN,"[rescu, servic]"
97,97,791,ausbildung,"['M33219415', 'M33640285', 'M32517595', 'M3287...",de,training,NaN,[train]
98,98,399,safewards,"['M30675756', 'M33293305', 'M32048899', 'M3269...",en,safewards,NaN,[safeward]
99,99,1172,low AND carb,"['M31098613', 'M29446894', 'M30694317', 'M3060...",en,low AND carb,NaN,"[low, carb]"

## Change columm name

In [63]:
df["Preprocessed_Query"] = df['Preprocessing']

In [64]:
df

,Unnamed: 0,qid:,qstr,candidates,qstr_lan,qstr_en,Language(memo),Preprocessing,Preprocessed_Query
0,0,943,mbsr,"['M30928765', 'M30928764', 'M33155250', 'M3013...",en,mbsr,NaN,[mbsr],[mbsr]
1,1,925,gender,"['M32275910', 'NLM101312283', 'M10231258', 'M3...",en,gender,NaN,[gender],[gender]
2,2,407,einsamkeit,"['NLM9707686', 'NLM9215358', 'M27924693', 'M33...",de,lonliness,NaN,[lonli],[lonli]
3,3,123,midwife,"['M18612453', 'M32361389', 'M33000708', 'M3353...",en,midwife,NaN,[midwif],[midwif]
4,4,220,bgm,"['M33384475', 'M33392927', 'M33634364', 'M3217...",en,bgm,NaN,[bgm],[bgm]
...,...,...,...,...,...,...,...,...,...
95,95,374,intensivstation,"['M33591384', 'M32431564', 'M32990764', 'M3356...",de,intensive care unit,NaN,"[intens, care, unit]","[intens, care, unit]"
96,96,264,rettungsdienst,"['NLM100964607', 'NLM9703000', 'M31801168', 'M...",de,rescue service,NaN,"[rescu, servic]","[rescu, servic]"
97,97,791,ausbildung,"['M33219415', 'M33640285', 'M32517595', 'M3287...",de,training,NaN,[train],[train]
98,98,399,safewards,"['M30675756', 'M33293305', 'M32048899', 'M3269...",en,safewards,NaN,[safeward],[safeward]
99,99,1172,low AND carb,"['M31098613', 'M29446894', 'M30694317', 'M3060...",en,low AND carb,NaN,"[low, carb]","[low, carb]"

In [65]:
first_column = df.pop('Preprocessed_Query')
df.insert(1, 'Preprocessed_Query',first_column)
df

,Unnamed: 0,Preprocessed_Query,qid:,qstr,candidates,qstr_lan,qstr_en,Language(memo),Preprocessing
0,0,[mbsr],943,mbsr,"['M30928765', 'M30928764', 'M33155250', 'M3013...",en,mbsr,NaN,[mbsr]
1,1,[gender],925,gender,"['M32275910', 'NLM101312283', 'M10231258', 'M3...",en,gender,NaN,[gender]
2,2,[lonli],407,einsamkeit,"['NLM9707686', 'NLM9215358', 'M27924693', 'M33...",de,lonliness,NaN,[lonli]
3,3,[midwif],123,midwife,"['M18612453', 'M32361389', 'M33000708', 'M3353...",en,midwife,NaN,[midwif]
4,4,[bgm],220,bgm,"['M33384475', 'M33392927', 'M33634364', 'M3217...",en,bgm,NaN,[bgm]
...,...,...,...,...,...,...,...,...,...
95,95,"[intens, care, unit]",374,intensivstation,"['M33591384', 'M32431564', 'M32990764', 'M3356...",de,intensive care unit,NaN,"[intens, care, unit]"
96,96,"[rescu, servic]",264,rettungsdienst,"['NLM100964607', 'NLM9703000', 'M31801168', 'M...",de,rescue service,NaN,"[rescu, servic]"
97,97,[train],791,ausbildung,"['M33219415', 'M33640285', 'M32517595', 'M3287...",de,training,NaN,[train]
98,98,[safeward],399,safewards,"['M30675756', 'M33293305', 'M32048899', 'M3269...",en,safewards,NaN,[safeward]
99,99,"[low, carb]",1172,low AND carb,"['M31098613', 'M29446894', 'M30694317', 'M3060...",en,low AND carb,NaN,"[low, carb]"

In [66]:
df

,Unnamed: 0,Preprocessed_Query,qid:,qstr,candidates,qstr_lan,qstr_en,Language(memo),Preprocessing
0,0,[mbsr],943,mbsr,"['M30928765', 'M30928764', 'M33155250', 'M3013...",en,mbsr,NaN,[mbsr]
1,1,[gender],925,gender,"['M32275910', 'NLM101312283', 'M10231258', 'M3...",en,gender,NaN,[gender]
2,2,[lonli],407,einsamkeit,"['NLM9707686', 'NLM9215358', 'M27924693', 'M33...",de,lonliness,NaN,[lonli]
3,3,[midwif],123,midwife,"['M18612453', 'M32361389', 'M33000708', 'M3353...",en,midwife,NaN,[midwif]
4,4,[bgm],220,bgm,"['M33384475', 'M33392927', 'M33634364', 'M3217...",en,bgm,NaN,[bgm]
...,...,...,...,...,...,...,...,...,...
95,95,"[intens, care, unit]",374,intensivstation,"['M33591384', 'M32431564', 'M32990764', 'M3356...",de,intensive care unit,NaN,"[intens, care, unit]"
96,96,"[rescu, servic]",264,rettungsdienst,"['NLM100964607', 'NLM9703000', 'M31801168', 'M...",de,rescue service,NaN,"[rescu, servic]"
97,97,[train],791,ausbildung,"['M33219415', 'M33640285', 'M32517595', 'M3287...",de,training,NaN,[train]
98,98,[safeward],399,safewards,"['M30675756', 'M33293305', 'M32048899', 'M3269...",en,safewards,NaN,[safeward]
99,99,"[low, carb]",1172,low AND carb,"['M31098613', 'M29446894', 'M30694317', 'M3060...",en,low AND carb,NaN,"[low, carb]"

In [67]:
df.to_csv('PPTranslatedQueryWithStem.csv')